// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
  tab-bar location="zellij:tab-bar"
  status-bar location="zellij:status-bar"
  strider location="zellij:strider"
  compact-bar location="zellij:compact-bar" {
    tooltip "F1" // choose a keybinding to toggle the hints
  }
  session-manager location="zellij:session-manager"
  welcome-screen location="zellij:session-manager" {
    welcome_screen true
  }
  filepicker location="zellij:strider" {
    cwd "/"
  }
  configuration location="zellij:configuration"
  plugin-manager location="zellij:plugin-manager"
  about location="zellij:about"
}

// Plugins to load in the background when a new session starts
load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}
