{{- if eq .chezmoi.os "windows" -}}

$ListDir = "$HOME/.config/chezmoi"
$ScriptDir = "$env:USERPROFILE/.local/share/chezmoi/scripts"
. "$ScriptDir/utils.ps1"
. "$ScriptDir/windows_packages.ps1"
. "$ScriptDir/rust_packages.ps1"
. "$ScriptDir/configure_cli.ps1"

# Add extras bucket
Add-ScoopBucket extras
Add-ScoopBucket nerd-fonts
Add-ScoopBucket drop-stones-bucket https://github.com/drop-stones/scoop-bucket

# Install packages using scoop
Install-PackageList "$ListDir/install_packages_list.txt"

# Install packages using winget
Install-WingetPackageList "$ListDir/winget_install_packages_list.txt"

# Install/Update rust toolchain
Install-RustupToolchains

# Install packages using cargo install/binstall
Install-CargoPackageList "$ListDir/cargo_install_packages_list.txt"
Install-CargoBinaryPackageList "$ListDir/cargo_binstall_packages_list.txt"

# Add rustup components
Add-RustupComponentList "$ListDir/rustup_component_list.txt"

# CLI configurations
Build-BatCache

# Create symlink for msys2
$Msys2HomePath = "$HOME\scoop\apps\msys2\current\home\$env:username"
New-SymlinkIfMissing -TargetPath $HOME -LinkPath $Msys2HomePath


{{- end -}}
