{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

script_dir="$HOME/.local/share/chezmoi/scripts"
list_dir="$HOME/.config/chezmoi"
source "$script_dir/utils.sh"
source "$script_dir/linux_packages.sh"
source "$script_dir/rust_packages.sh"
source "$script_dir/configure_cli.sh"
source "$script_dir/wsl2.sh"

if is_wsl2; then
  cat <<"EOF"

            _
 _ __ _ ___| |___
| |  | |_ -| | | |
 \_/\_/|___|_|___|


EOF

  # Add the wslu server if WSL2
  add_wslu_server
fi

cat <<"EOF"


 ___ ___ ___ _____ ___ ___
| . | .'|  _|     | .'|   |
|  _|__,|___|_|_|_|__,|_|_|
|_|

EOF

# Install packages using pacman
install_package_list "$list_dir/packages.lst"

cat <<"EOF"

             _
 ___ ___ ___| |_ ___ ___
|  _| | |_ -|  _| | | . |
|_| |___|___|_| |___|  _|
                    |_|

EOF

# Install/Update rust toolchain
setup_rustup

# Add rustup components
add_rust_component_list "$list_dir/rustup_components.lst"

cat <<"EOF"


 ___ ___ ___ ___ ___
|  _| .'|  _| . | . |
|___|__,|_| |_  |___|
            |___|

EOF

# Install packages using cargo install/binstall
install_cargo_binstall
binstall_cargo_package_list "$list_dir/cargo_packages.lst"

cat <<"EOF"

     _ _                __ _         _     _   _
 ___| |_|   ___ ___ ___| _|_|___ ___| |___| |_|_|___ ___
|  _| | |  |  _| . |   | _| | . | | | | .'|  _| | . |   |
|___|_|_|  |___|___|_|_|_||_|_  |___|_|__,|_| |_|___|_|_|
                            |___|

EOF

# CLI configurations
build_bat_cache
install_navi_repository "https://github.com/drop-stones/cheats.git" "drop-stones__cheats"

if is_wsl2; then
  cat <<"EOF"

            _
 _ __ _ ___| |
| |  | |_ -| |
 \_/\_/|___|_|


EOF

  ## Install msys2
  if ! cargo install --list | grep --quiet --fixed-strings "msys2"; then
    cargo install --locked --git https://github.com/drop-stones/msys2.git
  else
    print_log -y "[skip] " "msys2"
  fi

  ## Create symlink to obsidian vaults
  WIN_USER_PROFILE="$(wslpath "$(pwsh.exe -NoProfile -NonInteractive -Command "\$Env:UserProfile")" | tr -d '\r')"
  ensure_symlink "$WIN_USER_PROFILE/.config/obsidian/vaults" "$HOME/.config/obsidian/vaults"

  # Create symlink from xdg-open to wslview
  wslview_path=$(get_command_path wslview)
  ensure_symlink "$wslview_path" "/usr/bin/xdg-open"
else
  cat <<"EOF"

 _                 _     _
| |_ ___ ___ ___ _| |___| |_ ___
|   | | | . |  _| . | . |  _|_ -|
|_|_|_  |  _|_| |___|___|_| |___|
    |___|_|


EOF

  # Desktop Arch Linux only
  $HOME/.local/share/hyprdots/Scripts/install.zsh
fi

{{- end -}}
