{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

script_dir="$HOME/.local/share/chezmoi/scripts"
list_dir="$HOME/.config/chezmoi"
source "$script_dir/utils.sh"
source "$script_dir/darwin_packages.sh"
source "$script_dir/rust_packages.sh"
source "$script_dir/configure_cli.sh"

# Install packages using brew
# ExecuteCallbackOnList BrewInstall "$HOME/.config/chezmoi/install_packages_list.txt"
install_package_list "$list_dir/install_packages_list.txt"

# Install rust toolchains
setup_rustup

# Install packages using cargo install/binstall
install_cargo_package_list "$list_dir/cargo_install_packages_list.txt"
binstall_cargo_package_list "$list_dir/cargo_binstall_packages_list.txt"

# Add rustup components
add_rust_component_list "$list_dir/rustup_component_list.txt"

# CLI configurations
build_bat_cache
install_navi_repository "https://github.com/drop-stones/cheats.git" "drop-stones__cheats"

{{- end -}}
