{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash

script_dir="$HOME/.local/share/chezmoi/scripts"
list_dir="$HOME/.config/chezmoi"
source "$script_dir/utils.sh"
source "$script_dir/linux_packages.sh"
source "$script_dir/rust_packages.sh"
source "$script_dir/configure_cli.sh"
source "$script_dir/wsl2.sh"

if is_wsl2; then
  # Add the wslu server if WSL2
  add_wslu_server
fi

# Install packages using pacman
install_package_list "$list_dir/install_packages_list.txt"

# Install/Update rust toolchain
setup_rustup

# Install packages using cargo install/binstall
install_cargo_package_list "$list_dir/cargo_install_packages_list.txt"
binstall_cargo_package_list "$list_dir/cargo_binstall_packages_list.txt"

# Add rustup components
add_rust_component_list "$list_dir/rustup_component_list.txt"

# CLI configurations
build_bat_cache
install_navi_repository "https://github.com/drop-stones/cheats.git" "drop-stones__cheats"

if is_wsl2; then
  # WSL only
  ## Install msys2
  if ! cargo install --list | grep --quiet --fixed-strings "msys2"; then
    cargo install --locked --git https://github.com/drop-stones/msys2.git
  else
    print_log -y "[skip] " "msys2"
  fi

  ## Create symlink to obsidian vaults
  WIN_USER_PROFILE="$(wslpath "$(pwsh.exe -NoProfile -NonInteractive -Command "\$Env:UserProfile")" | tr -d '\r')"
  ensure_symlink "$WIN_USER_PROFILE/.config/obsidian/vaults" "$HOME/.config/obsidian/vaults"

  # Create symlink from xdg-open to wslview
  wslview_path=$(get_command_path wslview)
  ensure_symlink "$wslview_path" "/usr/bin/xdg-open"
else
  # Desktop Arch Linux only
  $HOME/.local/share/hyprdots/Scripts/install.zsh
fi

{{- end -}}
