{{- if eq .chezmoi.os "windows" -}}

$ListDir = "$HOME/.config/chezmoi"
$ScriptDir = "$env:USERPROFILE/.local/share/chezmoi/scripts"
. "$ScriptDir/utils.ps1"
. "$ScriptDir/windows_packages.ps1"
. "$ScriptDir/rust_packages.ps1"
. "$ScriptDir/configure_cli.ps1"
. "$ScriptDir/configure_browser.ps1"

Write-Host @"

                        _           _        _
 ___ ___ ___ ___ ___   | |_ ___ ___| |__ ___| |_
|_ -|  _| . | . | . |  | . | | |  _| |_/| -_|  _|
|___|___|___|___|  _|  |___|___|___|_|_\|___|_|
                |_|

"@

# Add extras bucket
Add-ScoopBucket extras
Add-ScoopBucket nerd-fonts
Add-ScoopBucket drop-stones-bucket https://github.com/drop-stones/scoop-bucket

Write-Host @"


 ___ ___ ___ ___ ___
|_ -|  _| . | . | . |
|___|___|___|___|  _|
                |_|

"@

# Install packages using scoop
Install-PackageList "$ListDir/packages.lst"

Write-Host @"

        _             _
 _ __ _|_|___ ___ ___| |_
| |  | | |   | . | -_|  _|
 \_/\_/|_|_|_|_  |___|_|
             |___|

"@

# Install packages using winget
Install-WingetPackageList "$ListDir/winget_packages.lst"

Write-Host @"

             _
 ___ ___ ___| |_ ___ ___
|  _| | |_ -|  _| | | . |
|_| |___|___|_| |___|  _|
                    |_|

"@

# Install/Update rust toolchain
Install-RustupToolchains

# Add rustup components
Add-RustupComponentList "$ListDir/rustup_components.lst"

Write-Host @"


 ___ ___ ___ ___ ___
|  _| .'|  _| . | . |
|___|__,|_| |_  |___|
            |___|

"@

# Install packages using cargo install/binstall
Install-CargoBinstall
Install-CargoBinaryPackageList "$ListDir/cargo_packages.lst"

Write-Host @"

     _ _                __ _         _     _   _
 ___| |_|   ___ ___ ___| _|_|___ ___| |___| |_|_|___ ___
|  _| | |  |  _| . |   | _| | . | | | | .'|  _| | . |   |
|___|_|_|  |___|___|_|_|_||_|_  |___|_|__,|_| |_|___|_|_|
                            |___|

"@

# CLI configurations
Build-BatCache

Write-Host @"

 _                                             __ _         _     _   _
| |_ ___ ___ _ __ _ ___ ___ ___    ___ ___ ___| _|_|___ ___| |___| |_|_|___ ___
| . |  _| . | |  | |_ -| -_|  _|  |  _| . |   | _| | . | | | | .'|  _| | . |   |
|___|_| |___|\_/\_/|___|___|_|    |___|___|_|_|_||_|_  |___|_|__,|_| |_|___|_|_|
                                                   |___|

"@

Install-SurfingKeysConfig


Write-Host @"

                     ___
 _____ ___ ___ ___  '__ |
|     |_ -| | |_ -| | __'
|_|_|_|___|_  |___| |___|
          |___|

"@

# Install packages using msys2
Install-Msys2PackageList "$ListDir/msys2_packages.lst"

# Create symlink for msys2
$Msys2HomePath = "$HOME\scoop\apps\msys2\current\home\$env:username"
New-SymlinkIfMissing -TargetPath $HOME -LinkPath $Msys2HomePath

{{- end -}}
