{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

script_dir="$HOME/.local/share/chezmoi/scripts"
list_dir="$HOME/.config/chezmoi"
source "$script_dir/utils.sh"
source "$script_dir/darwin_packages.sh"
source "$script_dir/rust_packages.sh"
source "$script_dir/configure_cli.sh"
source "$script_dir/fish.sh"

cat <<"EOF"

 _
| |_ ___ ___ _ __ _
| . |  _| -_| |  | |
|___|_| |___|\_/\_/


EOF

# Install packages using brew
install_package_list "$list_dir/packages.lst"

cat <<"EOF"

             _
 ___ ___ ___| |_ ___ ___
|  _| | |_ -|  _| | | . |
|_| |___|___|_| |___|  _|
                    |_|

EOF

# Install rust toolchains
setup_rustup

# Add rustup components
add_rust_component_list "$list_dir/rustup_components.lst"

cat <<"EOF"


 ___ ___ ___ ___ ___
|  _| .'|  _| . | . |
|___|__,|_| |_  |___|
            |___|

EOF

# Install packages using cargo install/binstall
install_cargo_binstall
binstall_cargo_package_list "$list_dir/cargo_packages.lst"

cat <<"EOF"

     _ _                __ _         _     _   _
 ___| |_|   ___ ___ ___| _|_|___ ___| |___| |_|_|___ ___
|  _| | |  |  _| . |   | _| | . | | | | .'|  _| | . |   |
|___|_|_|  |___|___|_|_|_||_|_  |___|_|__,|_| |_|___|_|_|
                            |___|

EOF

# CLI configurations
build_bat_cache
install_navi_repository "https://github.com/drop-stones/cheats.git" "drop-stones__cheats"

cat <<"EOF"

 __ _     _
| _|_|___| |_
| _| |_ -|   |
|_||_|___|_|_|


EOF

update_fish

{{- end -}}
