{{ $email := promptStringOnce . "email" "What is your git email address" }}
{{ $username := promptStringOnce . "username" "What is your git username" }}

{{ $use_1password := promptBoolOnce . "use_1password" "Do you use 1password for ssh" false }}
{{ $signingkey := "" }}
{{ if eq $use_1password true }}
  {{ $signingkey = promptStringOnce . "signingkey" "Please input the signingkey for 1password" }}
{{ end }}

{{ $osid := .chezmoi.os }}
{{ if eq .chezmoi.os "linux" }}
{{   if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
{{     $osid = printf "%s-%s" "wsl" .chezmoi.osRelease.id }}
{{   else }}
{{     $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id }}
{{   end }}
{{ end }}

{{ $home := "" }}
{{ if eq .chezmoi.os "windows" }}
  {{ $home = output "powershell.exe" "-Command" "[System.Environment]::GetEnvironmentVariable('USERPROFILE')" | replace "\\" "/" | trim }}
{{ else if eq $osid "wsl-arch" }}
  {{ $home = output "powershell.exe" "-Command" "[System.Environment]::GetEnvironmentVariable('USERPROFILE')" | trim | output "wslpath" "-u" | trim }}
{{ end }}

[data]
  email = {{ $email | quote }}
  username = {{ $username | quote }}
  osid = {{ $osid | quote }}

{{ if eq $osid "wsl-arch" }}
  windowsHome = {{ $home | quote }}
{{ end }}

  use_1password = {{ $use_1password }}

{{ if eq $use_1password true }}
  signingkey = {{ $signingkey | quote }}
{{   if eq .chezmoi.os "windows" }}
  {{ $gpg_ssh_program := print $home "/AppData/Local/1Password/app/8/op-ssh-sign.exe" }}
  gpg_ssh_program = {{ $gpg_ssh_program | quote }}
  {{ $gpg_ssh_program := print $home "/AppData/Local/1Password/app/8/op-ssh-sign-wsl" }}
{{   else if eq $osid "wsl-arch" }}
  gpg_ssh_program = {{ $gpg_ssh_program | quote }}
{{   else if eq .chezmoi.os "darwin" }}
  gpg_ssh_program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{   else if eq .chezmoi.os "linux" }}
  gpg_ssh_program = "/opt/1Password/op-ssh-sign"
{{   end }}
{{ end }}

{{ if eq .chezmoi.os "windows" }}
  pasteCommand = "win32yank.exe -o"
{{ else if eq $osid "wsl-arch" }}
  pasteCommand = "win32yank.exe -o --lf"
{{ else if eq .chezmoi.os "darwin" }}
  pasteCommand = "pbpaste"
{{ else if eq .chezmoi.os "linux" }}
  pasteCommand = "wl-paste -n"
{{ end }}

{{ if eq .chezmoi.os "windows" }}
[interpreters.ps1]
  command = "powershell"
  args = ["-NoLogo"]
{{ end }}
