{{ if eq .chezmoi.os "windows" }}
["AppData/Local/nvim"]
{{ else }}
[".config/nvim"]
{{ end }}
  type = "git-repo"
  url = "https://github.com/drop-stones/LazyVimConfig.git"
  refreshPeriod = "168h"

[".config/zsh/.antidote"]
  type = "git-repo"
  clone.args = ["--depth", "1"]
  url = "https://github.com/mattmc3/antidote.git"
  refreshPeriod = "168h"

{{ if ne .osid "wsl-arch" }}
[".local/share/surfingkeys-config"]
  type = "git-repo"
  url = "https://github.com/drop-stones/surfingkeys-config.git"
  refreshPeriod = "168h"
{{ end }}

{{ if eq .osid "linux-arch" }}
[".local/share/hyprdots"]
  type = "git-repo"
  clone.args = ["--depth", "1"]
  url = "https://github.com/drop-stones/hyprdots.git"
  refreshPeriod = "168h"
{{ end }}
