[user]
{{ if .user.name }}
    name = {{ .user.name | quote }}
{{ end }}
{{ if .user.email }}
    email = {{ .user.email | quote }}
{{ end }}

[core]
    pager = delta
{{ if eq .chezmoi.os "windows"}}
    autocrlf = true
{{ else }}
    autocrlf = input
{{ end }}

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    line-numbers = true

[merge]
    conflictstyle = diff3
    tool = diffview

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "diffview"]
    cmd = nvim -n -c "DiffviewOpen" "$MERGE"

[diff]
    colorMoved = default

{{ if .enable.onepassword }}
[user]
    signingkey = {{ .user.signingkey | quote }}
[gpg]
    format = {{ .gpg.format | quote }}
[gpg "ssh"]
    program = {{ .gpg.ssh.program | quote }}
[commit]
    gpgsign = {{ .enable.commit.gpgsign | quote }}
[core]
    sshCommand = {{ .core.sshCommand | quote }}
{{ end }}
