{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

AssertCommandInstalled() {
  installed_command=$1
  if ! command -v $installed_command &>/dev/null; then
    echo "$installed_command could not be found"
    exit 1
  fi
}

BrewInstall() {
  package=$1
  AssertCommandInstalled "brew"
  if ! (brew ls --versions --formula $package &>/dev/null || brew ls --versions --cask $package &>/dev/null); then
    brew install $package
  fi
}

CargoInstall() {
  package=$1
  AssertCommandInstalled "cargo"
  if ! cargo install --list | grep --quiet --fixed-strings $package; then
    cargo install --locked $package
  fi
}

CargoBInstall() {
  package=$1
  AssertCommandInstalled "cargo help binstall"
  if ! cargo install --list | grep --quiet --fixed-strings $package; then
    cargo binstall --locked --no-confirm $package
  fi
}

RustupAddComponent() {
  component=$1
  AssertCommandInstalled "rustup"
  if ! rustup component list --installed | grep --quiet --fixed-strings $component; then
    rustup component add $component
  fi
}

ExecuteCallbackOnList() {
  callback=$1
  list=$2
  while read line <&3; do
    case "$line" in
    "")
      continue
      ;;
    \#*)
      continue
      ;;
    *)
      $callback $line
      ;;
    esac
  done 3<$list
}

brew upgrade
brew update

# Install packages using brew
ExecuteCallbackOnList BrewInstall "$HOME/.config/chezmoi/install_packages_list.txt"

# Install rust toolchains
if ! command -v rustc &>/dev/null; then
  rustup-init -y
  . "$HOME/.cargo/env"
fi

# Install packages using cargo install/binstall
ExecuteCallbackOnList CargoInstall "$HOME/.config/chezmoi/cargo_install_packages_list.txt"
ExecuteCallbackOnList CargoBInstall "$HOME/.config/chezmoi/cargo_binstall_packages_list.txt"

# Add rustup components
ExecuteCallbackOnList RustupAddComponent "$HOME/.config/chezmoi/rustup_component_list.txt"

# Bat settings
bat cache --build

{{- end -}}
