{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo pacman -Syu
sudo pacman -S pamac-cli

# Editor
pamac install neovim

# Command Prompt
pamac install starship

# Astronvim requirements
pamac install bottom
pamac install gdu
pamac install lazygit
pamac install ripgrep
pamac install tree-sitter
pamac install unzip

# Laungages
pamac install clang
pamac install dotnet-sdk
pamac install go
pamac install lua
pamac install lua-language-server
pamac install luarocks
pamac install npm
pamac install python
pamac install rust
npm install -g neovim

# Commands
pamac install bat
pamac install bottom
pamac install dust
pamac install eza
pamac install fd
pamac install fzf
pamac install git-delta
pamac install hexyl
pamac install hyperfine
pamac install man-db
pamac install procs
pamac install ripgrep
pamac install sd
pamac install tldr
pamac install tokei
pamac install zoxide

# Add 'eval "$(zoxide init zsh)"' if not exist
grep -qxF 'eval "$(zoxide init zsh)"' ~/.zshrc || echo 'eval "$(zoxide init zsh)"' >> ~/.zshrc

# Add 'eval "$(starship init zsh)"' if not exist
grep -qxF 'eval "$(starship init zsh)"' ~/.zshrc || echo 'eval "$(starship init zsh)"' >> ~/.zshrc

# tmux
pamac install tmux

# oh-my-tmux
EnvPath="$HOME/EnvironmentSettings"
OhMyTmuxPath="$EnvPath/.tmux"
TmuxConfPath="$HOME/.config/tmux"
mkdir -p $EnvPath
git clone https://github.com/gpakosz/.tmux.git $OhMyTmuxPath
mkdir -p $TmuxConfPath
ln -s $OhMyTmuxPath/.tmux.conf $TmuxConfPath/tmux.conf
cp $OhMyTmuxPath/.tmux.conf.local $TmuxConfPath/tmux.conf.local
{{- end -}}
