{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

sudo pacman -Syu
sudo pacman -S pamac-cli

# Editor
pamac install neovim

# Command Prompt
pamac install starship

# Laungages
pamac install python
pamac install npm
pamac install clang
pamac install luarocks
pamac install lua-language-server
pamac install dotnet-sdk

# Commands
pamac install man-db
pamac install exa

# Add 'eval "$(starship init zsh)"' if not exist
grep -qxF 'eval "$(starship init zsh)"' ~/.zshrc || echo 'eval "$(starship init zsh)"' >> ~/.zshrc

# tmux
pamac install tmux

# oh-my-tmux
EnvPath="$HOME/EnvironmentSettings"
OhMyTmuxPath="$EnvPath/.tmux"
TmuxConfPath="$HOME/.config/tmux"
mkdir -p $EnvPath
git clone https://github.com/gpakosz/.tmux.git $OhMyTmuxPath
mkdir -p $TmuxConfPath
ln -s $OhMyTmuxPath/.tmux.conf $TmuxConfPath/tmux.conf
cp $OhMyTmuxPath/.tmux.conf.local $TmuxConfPath/tmux.conf.local
{{- end -}}
