{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

AssertCommandInstalled() {
	installed_command=$1
	if ! command -v $installed_command &>/dev/null; then
		echo "$installed_command could not be found"
		exit 1
	fi
}

PamacInstall() {
	package=$1
	AssertCommandInstalled "pamac"
	sudo pamac install --no-confirm --upgrade $1
}

CargoInstall() {
	package=$1
	AssertCommandInstalled "cargo"
	cargo install --locked $package
}

CargoBInstall() {
	package=$1
	AssertCommandInstalled "cargo help binstall"
	cargo binstall --secure $package
}

RustupAddComponent() {
	component=$1
	AssertCommandInstalled "rustup"
	rustup component add $component
}

ExecuteCallbackOnList() {
	callback=$1
	list=$2
	while read line; do
		case "$line" in
		"")
			continue
			;;
		\#*)
			continue
			;;
		*)
			$callback $line
			;;
		esac
	done <$list
}

sudo pacman -Syu --noconfirm
sudo pacman -S --noconfirm pamac-cli

# Install packages using pamac
ExecuteCallbackOnList PamacInstall "$HOME/.config/chezmoi/install_packages_list.txt"

# Install/Update rust toolchain
rustup toolchain install --no-self-update stable

# Install packages using cargo
ExecuteCallbackOnList CargoInstall "$HOME/.config/chezmoi/cargo_install_packages_list.txt"

# Add rustup components
ExecuteCallbackOnList RustupAddComponent "$HOME/.config/chezmoi/rustup_component_list.txt"

{{- end -}}
