{{ if eq .chezmoi.os "windows" }}
# Install git
scoop install git

# Fonts
scoop bucket add nerd-fonts
scoop install Hack-NF

# Terminal Emulator
scoop install windows-terminal

# Editor
scoop install neovim

# Shell Prompt
scoop install starship

# Languages
scoop install python
scoop install nodejs
scoop install mingw

# Windows apps
scoop install powertoys
scoop install autohotkey

# Add 'Invoke-Expression (&starship init powershell)' if not exists
If (!(Test-Path $PROFILE)) { New-Item -Path $PROFILE -Force }
If (!(Get-Content $PROFILE | Select-String -Quiet "starship")) {
  Add-Content -Path $PROFILE -Value "Invoke-Expression (&starship init powershell)"
}
{{ end }}
