{{ if eq .chezmoi.os "windows" }}
# Install git
scoop install git

# Fonts
scoop bucket add nerd-fonts
scoop install Hack-NF

# Terminal Emulator
scoop install windows-terminal

# Editor
scoop install neovim

# Shell Prompt
scoop install starship

# Languages
scoop install python
scoop install nodejs
scoop install mingw
{{ end }}
