{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

AssertCommandInstalled() {
  installed_command=$1
  if ! command -v $installed_command &>/dev/null; then
    echo "$installed_command could not be found"
    exit 1
  fi
}

PacmanInstall() {
  package=$1
  AssertCommandInstalled "pacman"
  sudo pacman -S --noconfirm $1
}

CargoInstall() {
  package=$1
  AssertCommandInstalled "cargo"
  cargo install --locked $package
}

CargoBInstall() {
  package=$1
  AssertCommandInstalled "cargo help binstall"
  cargo binstall --secure $package
}

RustupAddComponent() {
  component=$1
  AssertCommandInstalled "rustup"
  rustup component add $component
}

ExecuteCallbackOnList() {
  callback=$1
  list=$2
  while read line; do
    case "$line" in
    "")
      continue
      ;;
    \#*)
      continue
      ;;
    *)
      $callback $line
      ;;
    esac
  done <$list
}

# Install wslu if WSL2
if command -v wslpath >/dev/null 2>&1; then
  if ! pacman -Qi wslu >/dev/null 2>&1; then
    sudo pacman -S --noconfirm wget
    wget https://pkg.wslutiliti.es/public.key
    sudo pacman-key --add public.key
    sudo pacman-key --lsign-key 2D4C887EB08424F157151C493DD50AA7E055D853
    grep -qxF 'Server = https://pkg.wslutiliti.es/arch' /etc/pacman.conf || sudo sh -c "printf '\n[wslutilities]\nServer = https://pkg.wslutiliti.es/arch' >>/etc/pacman.conf"
    rm public.key
  fi
fi

sudo pacman -Syu --noconfirm

# Install packages using pacman
ExecuteCallbackOnList PacmanInstall "$HOME/.config/chezmoi/install_packages_list.txt"

# Install/Update rust toolchain
rustup toolchain install --no-self-update stable

# Install packages using cargo
ExecuteCallbackOnList CargoInstall "$HOME/.config/chezmoi/cargo_install_packages_list.txt"

# Add rustup components
ExecuteCallbackOnList RustupAddComponent "$HOME/.config/chezmoi/rustup_component_list.txt"

# Bat settings
bat cache --build

# Create symlink to obsidian vaults if WSL2
if command -v wslpath >/dev/null 2>&1; then
  if [ ! -e "$HOME/.config/obsidian/vaults" ]; then
    WIN_USER_PROFILE="$(wslpath "$(pwsh.exe -NoProfile -NonInteractive -Command "\$Env:UserProfile")" | tr -d '\r')"
    ln -s "$WIN_USER_PROFILE/.config/obsidian/vaults" "$HOME/.config/obsidian/"
  fi

  if [ ! -e "/usr/bin/xdg-open" ]; then
    wslview=$(which wslview)
    sudo ln -s "$wslview" "/usr/bin/xdg-open"
  fi
fi

{{- end -}}
