##################################################
# Override source() to use zcompiled form
# https://zenn.dev/fuzmare/articles/zsh-source-zcompile-all
##################################################

{{ if ne .chezmoi.os "windows" }}
function source {
  ensure_zcompiled $1
  builtin source $1
}
function ensure_zcompiled {
  local compiled="$1.zwc"
  if [[ ! -r "$compiled" || "$1" -nt "$compiled" ]]; then
    echo "\033[1;36mCompiling\033[m $1"
    zcompile $1
  fi
}
ensure_zcompiled ~/.zshenv
ensure_zcompiled ${ZDOTDIR:-~}/.zshrc
ensure_zcompiled ${ZDOTDIR:-~}/.initialize.zsh
{{ end }}
