{{ if eq .osid "wsl-arch" }}
layout {
  tab name="msys2" {
    pane {
      name "msys2"
      command "cmd.exe"
      args "/c" "msys2.cmd" "-use-full-path" "-shell" "fish"
    }
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }
  }
}
{{ end }}
