{{ if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
layout {
  pane size=1 borderless=true {
    plugin location="tab-bar"
  }
  pane {
    command "cmd.exe"
    args "/c" "msys2.cmd -mingw64 -defterm -no-start -use-full-path -shell zsh"
    cwd {{ .windowsHome | quote }}
    close_on_exit true
  }
  pane size=1 borderless=true {
    plugin location="status-bar"
  }
}

keybinds {
  pane {
    bind "d" {
      Run "cmd.exe" "/c" "msys2.cmd -mingw64 -defterm -no-start -use-full-path -shell zsh" {
        direction "down"
        cwd {{ .windowsHome | quote }}
        close_on_exit true
      };
      SwitchToMode "locked";
    }
    bind "n" {
      Run "cmd.exe" "/c" "msys2.cmd -mingw64 -defterm -no-start -use-full-path -shell zsh" {
        cwd {{ .windowsHome | quote }}
        close_on_exit true
      };
      SwitchToMode "locked";
    }
    bind "r" {
      Run "cmd.exe" "/c" "msys2.cmd -mingw64 -defterm -no-start -use-full-path -shell zsh" {
        direction "right"
        cwd {{ .windowsHome | quote }}
        close_on_exit true
      };
      SwitchToMode "locked";
    }
  }
  shared_among "normal" "locked" {
    bind "Alt n" {
      Run "cmd.exe" "/c" "msys2.cmd -mingw64 -defterm -no-start -use-full-path -shell zsh" {
        cwd {{ .windowsHome | quote }}
        close_on_exit true
      };
    }
  }
}
{{ end }}
