{{ if ne .chezmoi.os "windows" }}
if (( $+commands[navi] )); then
  _evalcache navi widget zsh # eval "$(navi widget zsh)"
else
  echo '[zsh] navi not found, please install it from https://github.com/denisidoro/navi.git'
fi
{{ end }}
