{{ if eq .use_1password true }}
[user]
  signingkey = {{ .signingkey }}

[gpg]
  format = ssh
  
[gpg "ssh"]
  program = {{ .gpg_ssh_program | quote }}

[commit]
  gpgsign = true

{{   if eq .chezmoi.os "windows" }}
[core]
  sshCommand = "C:/WINDOWS/System32/OpenSSH/ssh.exe"
{{   end }}
{{ end }}
