{{ if hasKey . "user" }}
[user]
{{ if hasKey .user "signingkey" }}
{{ if ne .user.signingkey "" }}
  signingkey = {{ .user.signingkey | quote }}
{{ end }}
{{ end }}
{{ end }}

{{ if hasKey . "gpg" }}
[gpg]
{{ if hasKey .gpg "format" }}
{{ if ne .gpg.format "" }}
  format = {{ .gpg.format | quote }}
{{ end }}
{{ end }}
{{ if hasKey .gpg "ssh" }}
[gpg "ssh"]
{{ if hasKey .gpg.ssh "program" }}
{{ if ne .gpg.ssh.program "" }}
  program = {{ .gpg.ssh.program | quote }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ if hasKey . "enable" }}
{{ if hasKey .enable "commit" }}
[commit]
{{ if hasKey .enable.commit "gpgsign" }}
{{ if .enable.commit.gpgsign }}
  gpgsign = true
{{ else }}
  gpgsign = false
{{ end }}
{{ end }}
{{ end }}
{{ end }}

{{ if hasKey . "core" }}
[core]
{{ if hasKey .core "sshCommand" }}
{{ if ne .core.sshCommand "" }}
  sshCommand = {{ .core.sshCommand | quote }}
{{ end }}
{{ end }}
{{ end }}
