{{ if eq .use_1password true }}
[user]
  signingkey = {{ .signingkey }}

[gpg]
  format = ssh
  
[gpg "ssh"]
  program = {{ .gpg_ssh_program | quote }}

[commit]
  gpgsign = true

[core]
  sshCommand = {{ .sshCommand | quote }}
{{ end }}
