# Updater
cargo-update

# Installer
cargo-binstall

# Test
cargo-nextest

# Image Previewer
viu

{{ if eq .chezmoi.os "windows" }}
# LS_COLORS generator
vivid

# Terminal disk space navigator
diskonaut
{{ end }}
