[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo"]

[data]
user.email = ""
user.name = ""
user.signingkey = ""
gpg.format = ""
gpg.ssh.program = ""
core.sshCommand = ""
core.autocrlf = ""

[data.enable]
commit.gpgsign = false
