# Mandatory Packages
git
unzip

# Editor
neovim

# Terminal Emulator
wezterm

# Shell
starship

# Command-Line Tools
bat
bottom
{{ if eq .chezmoi.os "windows" }}
delta
{{ else }}
git-delta
{{ end }}
dust
eza
fd
fzf
gdu
hexyl
hyperfine
procs
ripgrep
sd
tldr
tokei
zoxide

# Programming Launguages
go
lua
lua-language-server
luarocks
{{ if eq .chezmoi.os "windows" }}
nodejs
{{ else }}
npm
{{ end }}
python
rust
rustup

# Parser Generator Tool
tree-sitter

# Terminal UI for git
lazygit

# Task runner
just

# Note taking
obsidian

{{ if eq .chezmoi.os "windows" }}
# Windows specific
winget
pwsh
mingw
msys2
powertoys
{{ else if eq .chezmoi.os "darwin" }}
# Mac specific
man-db
llvm
{{ else }}
# Linux specific
man-db
clang
{{ end }}
