# Mandatory Packages
git
unzip

# Editor
neovim

{{ if not (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
# GUI Tools (Do not install in WSL2)
## Terminal Emulator
wezterm
## Note taking
obsidian
{{ end }}

# Secure Shell
openssh

# database
sqlite

# Command-Line Utilities
## cat(1) clone
bat
{{ if ne .chezmoi.os "windows" }}
bat-extras
{{ fi }}
## ls(1) alternative
eza
## find(1) alternative
fd
## grep(1) alternative
ripgrep
## sed(1) alternative
sd
## Smater cd(1) command
zoxide
## ps(1) alternative
procs
## Fuzzy finder
fzf
## Git diff pager
{{ if eq .chezmoi.os "windows" }}
delta
{{ else }}
git-delta
{{ fi }}
## File manager
yazi
## Cheatsheets
navi
tealdeer
## Graphical process/system monitor
bottom
## Disk usage utility
dust
duf
{{ if eq .chezmoi.os "windows" }}
dua
{{ else }}
dua-cli
{{ fi }}
## Hex viewer
hexyl
## Show statistics of codes
tokei
## Benchmarking tool
hyperfine

# Programming Launguages
rustup
lua
lua-language-server
luarocks
go
python
{{ if eq .chezmoi.os "windows" }}
nodejs
{{ else }}
npm
{{ end }}

# Parser Generator Tool
tree-sitter

# Terminal UI for git
lazygit

# Task runner
just
make

# Image Previewer
chafa

# Network utilities
wget

{{ if eq .chezmoi.os "windows" }}
# Windows specific
## Shell Prompt
starship
## File archiver
7zip
## Package manager
winget
## Powershell Core
pwsh
## GNU for Windows
mingw
msys2
## Windows system utilities
powertoys
## Database
sqlite3dll
## Windows clipboard tool
win32yank
## Arch Linux for WSL2
archwsl
## Text file converter
dos2unix
{{ else }}
# Except for Windows
## Unclutter .profile
direnv
## LS_COLORS generator
vivid
## Corrects errors in previous console commands
thefuck
## Manual database
man-db
## LLVM Compiler Infrastructure Project
llvm
{{ fi }}

{{ if eq .chezmoi.os "linux" }}
# Linux specific
## Manual pages
man-pages
## C/C++ compiler based on LLVM
clang
## Helper tool for compilation (need to build rust packages)
pkg-config
## Macro preprocessor (need to build rust packages)
m4

{{   if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
# WSL2 specific
## Utilities for WSL2
wslu
## Text file converter
dos2unix
{{   end }}
{{ else }}
# Except for Linux
## Calculator
kalker
{{ end }}
