{{ if eq .chezmoi.os "windows" }}
[terminal]
shell = { program = "wsl.exe", args = ["--cd", "~", "--exec", "zsh", "--login", "-i", "-c", "zellij" ] }
{{ else }}
[terminal]
shell = { program = "/bin/zsh", args = ["--login", "-i", "-c", "zellij" ] }
{{ end }}
