local wezterm = require("wezterm")
local act = wezterm.action
local spawn = require("spawn")
local spawn_utils = require("spawn.utils")

local module = {}

wezterm.on("augment-command-palette", function(window, pane)
  return spawn.get_spawn_commands_for_palette()
end)

function module.apply_to_config(config)
{{ if eq .chezmoi.os "windows" }}
	config.default_prog = spawn_utils.Msys2Commands()
{{ end }}
end

return module
